@media (min-width: 48rem) {
  .container {
    min-width: 48rem;
  }
  .header {
    padding: 3.438rem 3.125rem 14.69rem 3.125rem;
  }
  .masthead {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    margin-bottom: 9.375rem;
  }
  .logo {
    /* flex-basis: 23.4375%; */
    margin-bottom: 0;
    
  }
  .menu {
    /* flex-basis: 30.1%; */
    margin: 0;
    order: -1;
  }
  .hero-title {
    margin-bottom: 2.5rem;
  }
  .hero-subtitle {
    margin-bottom: 2.188rem;
  }
  .hero-btn {
    width: 15.5rem;
  }
  
  .meta {
    padding: 4.688rem 8.625rem 2.5rem 8.625rem;
  }
  .meta-header-title {
    margin-bottom: 2.188rem;
  }
  /* .team-wrapper .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-list-item {
    flex-basis: 47.967%;
  } */
  .card:nth-child(1) {
    order: 1;
    margin-bottom: 3.75rem;
  }
  .card:nth-child(3) {
    order: 2;
    margin-bottom: 3.75rem;
  }
  .card:nth-child(2) {
    order: 3;
    margin-bottom: 2.5rem;
  }
  .card:nth-child(4) {
    order: 4;
    margin-bottom: 2.5rem;
  }
  .team-btn {
    width: 11.56rem;
  }
}
@media (min-width: 58.75rem) {
  .container {
    min-width: 58.75rem;
  }
  .header {
    padding: 3.438rem 15.63rem 14.69rem 15.63rem;
  }
 .hero {
   text-align: center;
 }  
  .team-list {
    flex-wrap: nowrap;
    margin-bottom: 2.5rem;
  }
  .card:nth-child(1) {
    margin-bottom: 0;
  }
  .card:nth-child(3) {
    margin-bottom: 0;
  }
  .card:nth-child(2) {
    margin-bottom: 0;
  }
  .card:nth-child(4) {
    margin-bottom: 0;
  }
  .hero-title {
    font-size: 3.25rem;
    margin-bottom: 2.5rem;
    width: 31.5rem;
    margin: 0 auto 2.5rem;
  }
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
