.wrapper {
    width: 900px;
    height: 700px;
    margin: auto;
  }
  .gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .gallery-item {
    width: 290px;
    height: 150px;
    border: 1px solid red;
  }