.options {
  display: flex;
  justify-content: flex-start;
  width: 264px;
  background-color: #424242;
}
.options__item::after {
  @include css-triangle(
    $color: #ffffff,
    $direction: down,
    $size: 5px,
    $position: absolute,
    $round: false
  );
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateX(100%);
}
.options__item:not(:first-child)::before {
  // content: ''; // display: block; // position: absolute;
  @include pseudo;
  width: 1px;
  height: 21px;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  color: teal;
}
.options__item {
  margin-right: 42px;
  position: relative;
}
.options__link {
  display: block;
  font-size: 13px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 3.231;
  text-align: left;
}
.cart {
  border-radius: 3px;
  background-color: rgb(213, 142, 50);
  width: 51px;
  height: 49px;
  background-image: url("../img/cart-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}
.cart__icon {
  border-radius: 50%;
  background-color: rgb(54, 54, 54);
  position: absolute;
  left: 43px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 29px;
  font-size: 14px;
  font-family: "Poppins";
  color: rgb(224, 227, 237);
  line-height: 29px;
  text-align: center;
}
.search-form {
  display: flex;
  width: 490px;
}
.search-form label {
  position: relative;
  &::after {
    @include pseudo;
    background-image: url("/img/search-icon.png");
    width: 15px;
    height: 16px;
    top: 50%;
    left: 246px;
    transform: translateY(-50%);
  }
  &::before {
    @include pseudo;
    background-image: url("../img/select-icon.png");
    width: 23px;
    height: 18px;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
  &:last-child::before,
  &:first-child::after {
    display: none;
  }
}
#category,
#search {
  display: inline-block;
  padding: 16px 16px 16px 12px;
  height: 100%;
}
#category {
  width: 210px;
}
#search {
  width: 278px;
}
.site-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 596px;
  border: 1px solid black;
}
.site-nav__link {
  padding: 36px 16px 36px 16px;
  display: inline-block;
  font-size: 14px;
  font-family: "Poppins";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  text-align: left;
  position: relative;
  &:hover {
    color: rgb(255, 255, 255);
    display: block;
    background-color: #d58e32;
  }
  &::after {
    @include pseudo;
    display: none;
    background-color: rgb(42, 42, 42);
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
  }
  &:hover::after {
    display: inline-block;
  }
}
.card {
  width: 360px;
  border-bottom: 
}
.card__header {
  width: 100%;
  padding: 16px 20px 16px 24px;
  background-color: #2a2a2a;
  display: flex;
  justify-content: space-between;
}
.card__title {
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.1;
  text-align: center;
}
.card__slider {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__slider-item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(226, 226, 226);
  &:hover,
  &:focus {
    background-color: #d58e32;
    cursor: pointer;
  }
}
.card__body {
  background-color: #f4f5f7;
  padding-top: 96px;
  width: 100%;
  text-align: center;
  margin-bottom: 26px;
}
.card__button {
  width: 130px;
  font-size: 13px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3.231;
  text-align: center;
  border: 0;
  background-color: #2a2a2a;
  margin-bottom: 76px;
}
.card__timer {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
}
.card__timer-item {
  width: 70px;
  height: 70px;
  background-color: #3e3e3e;
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.833;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__item-name {
  font-size: 16.391px;
  font-family: "Poppins";
  color: rgb(42, 42, 42);
  font-weight: bold;
  line-height: 2.562;
  text-align: center;
}
.card__stars {
  width: 88px;
  height: 18px;
  background-color: rgb(42, 42, 42);
  margin: auto;
}
.card__meta {
  margin: 0 auto 20px;
  padding-bottom: 18px;
  width: 330px;
  border-bottom: 1px solid rgb(42, 42, 42);
  position: relative;
}
.card__meta::after {
  @include pseudo;
  background-color: rgb(213, 142, 50);
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 4px;
}
.card__icons {
  display: flex;
  width: 120px;
  justify-content: space-between;
}
.card__icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid rgb(42, 42, 42);
}
.card__icon--eye,
.card__icon--love,
.card__icon--arrows {
  background-position: center;
  background-repeat: no-repeat;
}
.card__icon--eye {
  background-image: url("../img/eye-icon.png");
}
.card__icon--love {
  background-image: url("../img/love-icon.png");
}
.card__icon--arrows {
  background-image: url("../img/arrows-icon.png");
}
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.card__norm-price {
  font-size: 14.342px;
  font-family: "Poppins";
  color: rgb(165, 165, 165);
  line-height: 2.928;
  text-align: center;
  text-decoration: line-through;
}
.card__sale-price {
  font-size: 18.439px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.278;
  text-align: center;
  display: inline-block;
  padding: 12px;
  background-color: #2a2a2a;
}
