.options {
  display: flex;
  justify-content: flex-start;
  width: 264px;
  background-color: #424242;
}
.options__item::after {
  @include css-triangle(
    $color: #ffffff,
    $direction: down,
    $size: 5px,
    $position: absolute,
    $round: false
  );
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateX(100%);
}
.options__item:not(:first-child)::before {
    // content: '';
    // display: block;
    // position: absolute;
    @include pseudo;
    width: 1px;
    height: 21px;
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
    color: teal;
}
.options__item {
    margin-right: 42px;
    position: relative;
}
.options__link {
  display: block;
  font-size: 13px;
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  line-height: 3.231;
  text-align: left;
}
