@import url("reset.css");
@import url("vars.css");
@import url("fonts.css");

body {
  background-color: #282828;
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
}
.masthead-wrapper {
  width: 1400px;
  margin: auto;
}
.container {
  background-image: url("../img/header-tint.png"), url("../img/header-img.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: top;
  padding-top: 1.875rem;
  padding-bottom: 10rem;
}
.masthead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 200px;
}
.masthead ul.nav {
  display: flex;
  justify-content: space-around;
  flex-basis: 36%;
}
.masthead .logo {
  flex-basis: 7%;
}
.masthead .logo:hover > .logo-link {
  color: var(--gold-color);
}
.masthead .logo .logo-link {
  display: block;
  font-size: 1.625rem;
  font-family: "Wisdom Script AI";
  color: var(--white-color);
  line-height: 1.577;
  text-align: left;
}
.masthead .nav .nav-link {
  font-size: 0.875rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  text-transform: uppercase;
  line-height: 2.929;
  text-align: center;
}
.masthead .nav .nav-link:hover {
  color: var(--gold-color);
}
.hero .hero-caption {
  font-size: var(--maintitle-font-size);
  font-family: var(--accent-font-family);
  color: var(--white-color);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.563rem;
}
.hero .hero-title {
  font-size: 4.688rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2.188rem;
}
.hero .hero-btn-link {
  display: block;
  width: 15rem;
  height: 4.063rem;
  border-radius: 0.1875rem;
  background-color: var(--gold-color);
  margin: auto;
  text-align: center;
  font-size: 1.125rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4.063rem;
  transform: scale(1);
}
.hero .hero-btn-link:hover  {
  transition: transform 1s ease, color 1s ease;
  color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
  box-shadow: 0 0 10px 5px rgba(46, 44, 44, 0.7);
}
.services-wrapper {
  width: 87.5rem;
  margin: auto;
}
.meta {
  background-color: var(--white-color);
  padding: 7.5rem 14.38rem;
}
.meta-header .meta-title {
  font-size: var(--maintitle-font-size);
  font-family: var(--main-font-family);
  color: var(--title-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.875;
  text-align: center;
}
.meta-header .meta-subtitle {
  font-size: var(--subtitle-font-size);
  font-family: var(--accent-font-family);
  color: var(--text-color);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}
.meta-header {
  margin-bottom: 5rem;
}
.service-list {
  display: flex;
  justify-content: space-between;
}
.service-list .service-card {
  flex-basis: 29%;
}
.service-card .card-title {
  font-size: 1.125rem;
  font-family: var(--main-font-family);
  color: var(--title-color);
  font-weight: bold;
  line-height: 4.167;
}
.service-card .card-text {
  font-size: 0.875rem;
  font-family: "Roboto Slab", serif;
  color: var(--text-color);
  line-height: 1.2;
  text-align: center;
}
.service-card .card-icon {
  display: block;
  object-fit: cover;
}
.basket {
  width: 2.5rem;
  height: 2.5rem;
}
.laptop {
  width: 2.563rem;
  height: 2.188rem;
}
.locked {
  width: 1.813rem;
  height: 1.813rem;
}
.service-card .card-img {
  width: 4.375rem;
  height: 4.375rem;
  border: 0.125rem solid var(--gold-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.service-list .service-card {
  text-align: center;
}
.service-list .service-card:hover .card-img {
  transform: scale(1.5);
  transition: 1s ease;
}
.contacts-wrapper {
  width: 87.5rem;
  margin: auto;
}
.contacts-header {
  margin: auto;
  margin-bottom: 4.688rem;
}
.contacts-header .contacts-title {
  font-size: var(--maintitle-font-size);
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0.75rem;
}
.contacts-header .contacts-subtitle {
  font-size: var(--subtitle-font-size);
  font-family: var(--accent-font-family);
  color: var(--text-color);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}
.message-btn {
  border-radius: 0.1875rem;
  border: 0;
  color: var(--white-color);
  background-color: var(--gold-color);
  width: 15rem;
  height: 4.063rem;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 1.125rem;
  font-family: var(--main-font-family);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  transform: scale(1);
}
.message-btn:hover {
  transition: color 1s ease, transform 1s ease;
  transform: scale(1.1);
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px 5px rgba(46, 44, 44, 0.7);
}
.contacts {
  background-image: url("../img/map.png"), url("../img/map-bg.png");
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: right 100px, center;
  padding-top: 6.563rem;
  padding-bottom: 5.938rem;
}
.contacts .inputs {
  margin: auto;
  margin-bottom: 1.563rem;
}
input {
  box-sizing: border-box;
  border: 0;
}
.user-data input {
  border-style: solid;
  border-width: 0.0625rem;
  border-color: rgb(204, 204, 204);
  border-radius: 0.125rem;
  background-color: var(--white-color);
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-left: 0.9375rem;
  display: block;
  width: 100%;
}
.user-data label {
  display: block;
}
.feedback .user-data label:not(:last-child) {
  margin-bottom: 1.563rem;
}
.feedback input::placeholder,
textarea::placeholder {
  font-size: 0.875;
  font-family: var(--main-font-family);
  color: rgb(187, 187, 187);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.inputs {
  display: flex;
  justify-content: space-between;
  width: 59.38rem;
  margin-bottom: 1.563rem;
}
.feedback .user-data {
  flex-basis: 47%;
  height: 100%;
}
.feedback .user-message {
  flex-basis: 47%;
  height: auto;
}
.user-message textarea {
  width: 100%;
  height: 100%;
  resize: none;
  overflow: hidden;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-left: 0.9375rem;
}
