:root {
  --pink-color: rgb(234, 129, 129);
  --yellow-color: rgb(252, 227, 138);
  --some-color: rgb(234, 255, 208);
  --aqua-color: rgb(149, 225, 211);
  --main-font-family: "Montserrat", sans-serif;
  --accent-font-family: "Kaushan Script", cursive; 
  --text-font-family: "Roboto", sans-serif;
  --title-color: rgb(51, 51, 51);
  --text-color: rgb(153, 153, 153);
  --white-color: rgb(255, 255, 255);
}


