@import url("reset.css");
@import url("vars.css");
@import url("fonts.css");

body {
  background-color: #282828;
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.masthead-wrapper {
  width: 20rem;
  margin: auto;
}
.header {
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
 
  padding-top: 2.188rem;
  padding-bottom: 8.75rem;
}
.masthead {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header .masthead .menu {
  order: -1;
  margin-bottom: 7.5rem;
  display: flex;
}
.masthead .menu-item {
  flex-basis: 50%;
}
.masthead .menu-item .menu-sign-up {
  border-style: solid;
  border-width: 2px;
  border-color: var(--white-color);
  background-color: rgba(26, 25, 21, 0);
  border-radius: 2rem;
  padding: 0.625rem 0.9375rem;
  flex-basis: 5.625rem;
}
.logo .logo-link {
  font-size: 1.25rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.logo {
  margin-bottom: 2.5rem;
}
.header .menu a {
  font-size: 0.875rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.hero .hero-title {
  font-size: 1.875rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.25rem;
}
.hero .hero-subtitle {
  font-size: 1.125rem;
  font-family: var(--accent-font-family);
  color: var(--white-color);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.063rem;
}
.hero .hero-btn {
  font-size: 0.875rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  display: block;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  width: 17.5rem;
  height: 2.5rem;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5rem;
}

