@import url("reset.css");
@import url("vars.css");
@import url("fonts.css");

body {
  /* background-color: #282828; */
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.masthead-wrapper {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: -1;
}
.header {
  padding: 1.25rem 0 8.75rem 0;
}
.masthead-wrapper::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: -1;
}
.container {
  min-width: 20rem;
  max-width: 90rem;
  margin: auto;
}

.masthead {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
.header .masthead .menu {
  margin: 0 auto 7.5rem;
  width: 12.4rem;
}
.masthead .menu-item {
  width: 40%;
  display: inline-block;
  border-style: solid;
  border-width: 0.125rem;
  border-color: transparent;
  background-color: rgba(26, 25, 21, 0);
  border-radius: 2rem;
  text-align: center;
  padding: 0.625rem 0.9375rem;
}
.masthead .menu-item:hover {
  border-color: var(--white-color);
}
.masthead .menu-item:last-child {
  border-style: solid;
  border-width: 0.125rem;
  border-color: transparent;
  background-color: rgba(26, 25, 21, 0);
  border-radius: 2rem;
  width: calc(60% - 0.25rem);
  text-align: center;
  padding: 0.625rem 0.9375rem;
}
.masthead .menu-item:last-child:hover {
  border-color: var(--white-color);
}
.logo .logo-link {
  font-size: 1.25rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  display: block;
  width: 100%;
}
.logo {
  margin-bottom: 2.5rem;
}
.header .menu a {
  font-size: 0.875rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.hero .hero-title {
  font-size: 1.875rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.25rem;
}
.hero .hero-subtitle {
  font-size: 1.125rem;
  font-family: var(--text-font-family);
  color: var(--white-color);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.063rem;
}
.hero .hero-btn {
  font-size: 0.875rem;
  font-family: var(--main-font-family);
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  display: block;
  border-radius: 1.25rem;
  background-color: var(--btn-color);
  width: 17.5rem;
  height: 2.5rem;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5rem;
}
.team-wrapper {
  background-color: var(--white-color);
}
.meta {
  padding: 4.375rem 1.875rem 3.438rem 1.875rem;
}
.meta-header .meta-header-title {
  font-size: 1.375rem;
  font-family: var(--main-font-family);
  color: var(--title-color);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.team-card-icon {
  width: 7.875rem;
  height: 7.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
figure {
  position: relative;
}
.icon {
  display: block;
  position: absolute;
  width: 2.188rem;
  height: 2.188rem;
  border: 0.1875rem solid var(--white-color);
  border-radius: 50%;
  background-color: rgb(255, 78, 80);
  bottom: 38%;
  right: 28%;
}
/* .team-list-item {
  position: relative;
}
.team-list-item::before {
  content: "";
  width: 2.188rem;
  height: 2.188rem;
  border: 0.1875rem solid var(--white-color);
  border-radius: 50%;
  background-color: rgb(255, 78, 80);
  position: absolute;
  bottom: 38%;
  right: 28%;
}
.team-list-item:nth-child(2)::before {
  bottom: 42%;
  right: 29%;
  background-color: rgb(255, 165, 7);
}
.team-list-item:nth-child(3)::before {
  background-color: rgb(28, 215, 173);
}
.team-list-item:nth-child(4)::before {
  background-color: rgb(78, 115, 219);
}
.team-list-item::after {
  content: "";
  width: 1.063rem;
  height: 1.063rem;
  background-image: url('../img/tv-icon.png');
  position: absolute;
  bottom: 42.5%;
  right: 31.5%;
}
.team-list-item:nth-child(2)::after {
  width: 0.8125rem;
  height: 1rem;
  background-image: url('../img/bottle-icon.png');
  position: absolute;
  bottom: 46.5%;
  right: 33%;
}
.team-list-item:nth-child(3)::after {
  background-image: url('../img/coffee-icon.png');
}
.team-list-item:nth-child(4)::after {
  height: 1rem;
  background-image: url('../img/tv-icon.png');
} */
.team-card-title {
  font-size: 0.875rem;
  font-family: var(--main-font-family);
  color: var(--title-color);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.25rem;
}
.team-card-text {
  font-size: 0.875rem;
  font-family: var(--text-font-family);
  color: var(--text-color);
  line-height: 1.2;
  text-align: center;
}
.team-card-text:last-child {
  margin-bottom: 1.875rem;
}
.team-btn {
  font-size: 0.875rem;
  font-family: var(--text-font-family);
  color: rgb(255, 78, 80);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  width: 17.5rem;
  height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5rem;
  display: block;
  border-style: solid;
  border-width: 0.125rem;
  border-color: var(--btn-color);
  border-radius: 1.25rem;
  background-color: var(--white-color);
  margin: auto;
}
