body {
  font-family: "arial", sans-serif;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 270px;
  height: 100vh;
}
:root {
    --title-color: #263555;
    --text-color: #4e5050;
    --title-font-family: "Pathway Gothic One", sans-serif;
    --title-font-size: 26px;
    --subtitle-font-size: 15px;
    --text-font-size: 13px;
  }
.wrapper {
  width: 1024px;
  margin: auto;
}
main {
  padding: 95px 60px 140px 60px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.masterhead {
  margin-bottom: 110px;
  position: relative;
}
.menu {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.menu-item {
  font-size: 23.333px;
  font-family: var(--title-font-family);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  margin-right: 55px;
  /* display: inline-block; */
  position: relative;
  list-style: none;
  /* text-align: left; */
}
.menu-item:nth-child(2):hover {
  color: var(--title-color);
}
.menu-item:nth-child(6) {
  margin-right: 0;
}
li.menu-item:nth-child(3) {
  margin-right: 120px;
}
li.menu-item:nth-child(4) {
  margin-left: 120px;
}
.submenu {
  display: none;
  width: 100%;
  position: absolute;
  top: 30px;
  right: 0px;
}
.submenu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
  position: absolute;
  left: calc(50% - 5px);
  top: -5px;
}
.submenu-item {
  font-size: 16.667px;
  font-family: var(--title-font-family);
  color: rgb(107, 116, 136);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  background-color: #ffffff;
}

.menu-item:hover > .submenu {
  display: block;
}
.logo {
  font-size: 60px;
  font-family: "Dorsa", sans-serif;
  color: rgb(38, 53, 85);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
  width: 138px;
  height: 138px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.logo span {
  text-align: center;
  line-height: 138px;
}
.button {
  width: 25px;
  height: 25px;
  background-color: rgb(56, 175, 229);
  position: fixed;
  left: 75%;
  top: 77%;
  padding: 5px;
  border-radius: 50%;
}
.arrow {
  display: block;
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  width: 30%;
  height: 30%;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.masterfoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #30455b;
  height: 130px;
}
.masterfoot .information {
  width: 70%;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.masterfoot .information .list-item {
  flex: 0 1 12%;
  margin-right: 15%;
  /* height: 18px; */
  /* align-items: flex-start; */
}
.masterfoot .information .list-item:nth-child(3n + 3) {
  margin-right: 0;
}
.masterfoot .information .list-item:nth-child(3n + 1) {
  margin-left: 10%;
}
.masterfoot .information .link {
  text-decoration: none;
  /* display: block; */
  text-align: left;
  font-size: 13.333px;
  font-family: "Open Sans Condensed", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.875;
}
.masterfoot .contacts {
  width: 30%;
}
.masterfoot .contacts .title {
  font-size: var(--subtitle-font-size);
  font-family: "Open Sans Condensed", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.masterfoot .contacts .tel {
  display: block;
  font-size: 10px;
  color: rgb(255, 255, 255);
  line-height: 1.583;
  text-align: left;
}
.masterfoot .contacts .email {
  display: block;
  font-size: 10px;
  color: rgb(255, 255, 255);
  line-height: 1.583;
  text-align: left;
}
.social {
  width: 200px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.social .link {
  width: 40px;
  height: 40px;
}
.facebook {
  background-image: url(../img/facebook.png);
}
.twitter {
  background-image: url(../img/twitter.png);
}
.google {
  background-image: url(../img/google.png);
}
.linkedin {
  background-image: url(../img/linkedin.png);
}
.privacy {
  margin: auto;
  width: 450px;
}
.privacy p {
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}
.privacy a {
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}
