body {
  font-family: "arial", sans-serif;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 230px; */
  padding-bottom: 270px;
  height: 100vh;
}
.wrapper {
  width: 1024px;
  margin: auto;
}
main {
  padding: 110px 70px 85px 60px;
  background-color: #ffffff;
  box-sizing: border-box;
}
:root {
  --title-color: #263555;
  --text-color: #4e5050;
  --title-font-family: "Pathway Gothic One", sans-serif;
  --title-font-size: 26px;
  --subtitle-font-size: 15px;
  --text-font-size: 13px;
}
.clearfix {
  display: table;
  content: "";
  clear: both;
}
.article-title {
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
  color: var(--title-color);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 45px;
}
.profile .article-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.article-subtitle {
  font-size: var(--subtitle-font-size);
  color: var(--title-color);
  line-height: 1.267;
  text-align: left;
  margin-bottom: 15px;
}
.article-text {
  font-size: var(--text-font-size);
  color: var(--text-color);
  line-height: 1.462;
  text-align: left;
}
.profile .principles-title {
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
  color: var(--title-color);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 45px;
}
.profile .principles .subtitle {
  font-size: var(--subtitle-font-size);
  color: var(--title-color);
  line-height: 1.267;
  text-align: left;
  margin-bottom: 15px;
}
.profile .principles .text {
  font-size: var(--text-font-size);
  color: var(--text-color);
  line-height: 1.462;
  text-align: left;
}
.profile {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px solid #dedbdb;
}
.profile .article {
  width: 71%;
}
.profile .principles {
  width: 22%;
}
.profile .principles-list {
  counter-reset: list;
  list-style: none;
}
.profile .principles-list .list-item::before {
  counter-increment: list;
  content: counter(list);
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #38afe5;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
}
.profile .principles-list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.profile .principles-list .list-item:last-child {
  margin-bottom: 0;
}
.profile .principles-list .article {
  width: calc(100% - 25px);
}
.offers {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.offers .article {
  width: 71%;
}
.offers .testimonial {
  width: 22%;
}
.offers .article-title {
  margin-bottom: 60px;
}
.offers .article-list .list-item {
  font-size: 12.5px;
  color: var(--title-color);
  line-height: 1.52;
  text-align: left;
  margin-bottom: 15px;
}
.offers .article-list .list-item:last-child {
  margin-bottom: 0px;
}
.offers .article-list .list-item::before {
  content: "\2192";
  color: #38afe5;
  margin-right: 10px;
}
.offers .article-list {
  column-count: 2;
}
.offers .article-text {
  margin-bottom: 35px;
}
.testimonial-text::before {
  content: "\201c";
  font-size: 15px;
  color: var(--title-color);
  line-height: 0;
  display: inline-block;
  margin-right: 5px;
}
.testimonial-text::after {
  content: "\201d";
  font-size: 15px;
  color: var(--title-color);
  line-height: 0;
  display: inline-block;
  margin-left: 3px;
}
.testimonial-title {
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
  color: var(--title-color);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 25px;
}
.testimonial-text {
  color: var(--title-color);
  font-size: var(--subtitle-font-size);
  line-height: 1.267;
  text-align: left;
}
.testimonial-author span {
  display: block;
  font-size: 13.333px;
  line-height: 1.425;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 15px;
}
.testimonial-author p {
  font-size: 13px;
  line-height: 1.462;
  color: var(--text-color);
  text-align: center;
}
.testimonial-border {
  padding: 20px;
  border: 1px solid #dedbdb;
  margin-bottom: 55px;
  background-color: #fcfafa;
  border-radius: 2%;
  position: relative;
}
.testimonial-border::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #dedbdb;
  background-color: #fcfafa;
  position: absolute;
  left: calc(50% - 15px);
  bottom: -25px;
}
.masterfoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #30455b;
  height: 130px;
}
.masterfoot .information {
  width: 70%;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.masterfoot .information .list-item {
  flex: 0 1 30%;
  height: 18px;
  align-items: flex-start;
  
}
.masterfoot .information .link {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 13.333px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.875; 
}
.masterfoot .contacts {
  width: 30%;
}
.masterfoot .contacts .title {
  font-size: var(--subtitle-font-size);
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.masterfoot .contacts .tel {
  display: block;
  font-size: 10px;
  color: rgb(255, 255, 255);
  line-height: 1.583;
  text-align: left;
}
.masterfoot .contacts .email {
  display: block;
  font-size: 10px;
  color: rgb(255, 255, 255);
  line-height: 1.583;
  text-align: left;
}
.social {
  width: 200px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.social .link {
  width: 40px;
  height: 40px;
}
.facebook {
  background-image: url(../img/facebook.png);
}
.twitter {
  background-image: url(../img/twitter.png);
}
.google {
  background-image: url(../img/google.png);
}
.linkedin {
  background-image: url(../img/linkedin.png);
}
.privacy {
  margin: auto;
  width: 450px;
}
.privacy p {
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}
.privacy a {
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}